@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);

.constructor {
  background-color: #d1d1d1;
  width: 600px;
  height: 400px;
  margin: auto 0;
}

.invisible {
  display: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 80%;
  margin: auto;
}

.header__link {
  text-decoration: none;
  color: #8f9399;
  font-size: 16px;
  line-height: 22px;
}

.header__link:hover {
  opacity: 80%;
  cursor: pointer;
}

.header__links {
  width: 60%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__stuff {
  display: flex;
  align-items: center;
}

.header__stuff-container {
  display: flex;
  justify-content: center;
}

.header__stuff-link {
  color: #8f9399;
  font-size: 13px;
  line-height: 14px;
  text-decoration: none;
  width: 65px;
  word-break: break-word;
  display: block;
}

.header__stuff-link:hover {
  opacity: 80%;
  cursor: pointer;
}

.header__stuff-logo {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.main__tariff {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0px;
  padding: 0 50px;
}

.main__title {
  margin: 30px 50px;
}

.page {
  /*минимальная ширина страницы*/
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
  font-family: "Tele2 TextSans Web SHORT", Arial, sans-serif;
  /* background-color: #000000;
  color: #fff; */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.popup {
  /*position: fixed;*/
  /*top: 0;*/
  /*left: 0;*/
  /*width: 100%;*/
  /*height: 100%;*/
  background-color: #fff;
  box-sizing: border-box;
  /*padding: 0 50px;*/
  display: flex;
  z-index: 2;

  visibility: visible;
  opacity: 1;
  overflow-y: scroll;
  /* visibility: hidden;
  opacity: 0; */
  transition: visibility 0.3s ease, opacity 0.3s ease-in-out;
}

.popup__title {
  text-transform: uppercase;
  margin: 0 0 40px;
}

.popup__container {
  display: flex;
  width: 80%;
  margin: auto;
}

.popup__chat {
  width: 430px;
  height: 630px;
  display: flex;
  flex-direction: column;
}

.popup__dialog {
  list-style: none;
  padding: 0;
  margin: 0;
}

.popup__chat-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.dialog__ava-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  align-self: flex-end;
}

.dialog__avatar {
  margin: 10px 0 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.dialog__question {
  display: grid;
  grid-template-columns: 10% 80%;
  grid-template-rows: 1fr;
  grid-gap: 3px;

}

.dialog__name {
  margin: 0;
}

.dialog__box_question {
  border: 1px solid #FF59A3;
  border-radius: 10px 10px 10px 0;
  position: relative;
  box-sizing: border-box;
}

.dialog__box_question-tail {
  position: absolute;
  bottom: -1px;
  left: -9px;
}

.dialog__text {
  margin: 0;
  padding: 10px 20px;

}

.dialog__box_answer {
  margin: 15px 10px 15px auto;
  width: 80%;
  background-color: #ff59a34d;
  border-radius: 10px 0 10px 10px;
  position: relative;
  box-sizing: border-box;
}

.dialog__box_answer-tail {
  position: absolute;
  top: 0;
  right: -8px;
}


.popup__chat-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px 18px;
}

.popup__answer-button {
  width: 100%;
  height: 40px;
  padding: 0;
  border: 1px solid #1F2229;
  border-radius: 21px;
  background-color: transparent;
  color: #1F2229;
  cursor: pointer;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  /* transition: background-color 0.2s ease-in-out; */
}

.popup__answer-button:hover {
  border: none;
  background-color: #ff59a34d;

}

.popup__answer-button:focus {
  outline: none;
  border: none;
  background-color: #ff59a34d;
}


.popup__your-plan {
  width: 480px;
  height: 450px;
  margin-left: 150px;
  align-self: center;
  display: flex;
}

.popup__main-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup__price {
  margin: 27px 0 28px 0;
  border: 4px solid #FF59A3;
  width: 257px;
  height: 257px;
  border-radius: 50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

.popup__currency {
  width: 14px;
  height: 31px;
  position: absolute;
  top: 70px;
  right: 60px;
}

.popup__your-plan-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup__your-plan-title {
  font-size: 28px;
  margin: 0 0 17px 0;
}

.popup__your-plan-subtitle {
  font-size: 16px;
  margin: 0 0 27px 0;
}

.popup__price-value {
  font-size: 54px;
  font-style: normal;
  font-weight: normal;
}

.popup__buy-button {
  width: 220px;
  height: 60px;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  background-color: #1F2229;
  border: none;
}

.popup__additional-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 40px;
}

.popup__input {
  border: 0;
  border-bottom: 1px solid #1F2229;
  padding: 0 0 13px 0;
  width: 100%;
  margin: 5px 0 5px 0;
  outline: none;
}

.popup__metric-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 175px;
  height: 55px;
  margin-bottom: 30px;
}

.popup__widgets {
  display: flex;
  flex-direction: column;
  margin: 0 20px 0 10px;
}

.popup__up-arrow {
  margin-bottom: 15px;
}

.popup__socials {
  max-width: 150px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 32px);
  grid-gap: 6px;
}

.footer {
  min-height: 350px;
  background-color: #1F2229;
  padding-top: 50px;
  padding-bottom: 104px;
  box-sizing: border-box;
}

.footer__columns {
  display: flex;
  position: relative;
  justify-content: space-between;
  color: white;
  
}

.footer__column_content_about {
  width: 360px;
}

.footer__column_content_telephone {
  width: 260px;
}

.footer__column_content_social {
  width: 260px;
}

.footer__tele2 {
  margin: 0px 0px 30px 0px;
  color:white;
}

.main {
  padding-bottom: 50px;
}

.footer__column {
  font-size: 16px;
}

.footer_wrap {
  width: 90%;
  margin: 0 auto;
}

.footer__column-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__list-item {
  display: inline; 
  margin-right: 10px; 
}

.footer__column_social {
  text-decoration: underline;
}