@import url(./vendor/normalize.css);

.constructor {
  background-color: #d1d1d1;
  width: 600px;
  height: 400px;
  margin: auto 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 80%;
  margin: auto;
}

.header__link {
  text-decoration: none;
  color: #8f9399;
  font-size: 16px;
  line-height: 22px;
}

.header__link:hover {
  opacity: 80%;
  cursor: pointer;
}

.header__links {
  width: 60%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__stuff {
  display: flex;
  align-items: center;
}

.header__stuff-container {
  display: flex;
  justify-content: center;
}

.header__stuff-link {
  color: #8f9399;
  font-size: 13px;
  line-height: 14px;
  text-decoration: none;
  width: 65px;
  word-break: break-word;
  display: block;
}

.header__stuff-link:hover {
  opacity: 80%;
  cursor: pointer;
}

.header__stuff-logo {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.main__tariff {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0px;
  padding: 0 50px;
}

.main__title {
  margin: 30px 50px;
}

.page {
  /*минимальная ширина страницы*/
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  /* background-color: #000000;
  color: #fff; */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  /* align-items: center;
  justify-content: center; */
  box-sizing: border-box;
  padding: 0 50px;
  display: flex;
  /* display: none; */
  z-index: 2;

  visibility: visible;
  opacity: 1;
  overflow-y: scroll;
  /* visibility: hidden;
  opacity: 0; */
  transition: visibility 0.3s ease, opacity 0.3s ease-in-out;
}

.popup__title {
  text-transform: uppercase;
  margin: 0 0 40px;
}

.popup__container {
  display: flex;
  width: 80%;
  margin: auto;
}

.popup__chat {
  width: 430px;
  height: 630px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}

.popup__dialog {
  list-style: none;
  padding: 0;
  margin: 0;
}

.popup__chat-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.dailog__ava-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.dialog__avatar {
  /* margin: 10px 0 4px; */
  margin: 10px 0 0;
}

.dialog__question {
  /* display: flex; */
  display: grid;
  grid-template-columns: 32px 333px;
  grid-template-rows: 71px;
  grid-gap: 3px;

}

.dialog__name {
  margin: 0;
}

.dialog__box_question {
  background-image: url(./images/chat-question.svg);
  background-repeat: no-repeat;
  /* background-position: right;
  background-size: contain; */
  /* text-align: left; */
  /* padding: 25px; */
  display: flex;

  flex-direction: column;
  justify-content: center;
}

.dialog__text {
  margin: 0 20px;
}

.dialog__box_answer {
  background-image: url(./images/chat-answer.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  text-align: right;
  padding: 25px;
}



.popup__your-plan {
  width: 480px;
  height: 450px;
  border: 1px solid red;
  margin-left: 150px;
  align-self: center;
}
