@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);

.page {
  /*минимальная ширина страницы*/
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
  font-family: "Tele2 TextSans Web SHORT", Arial, sans-serif;
  /* background-color: #000000;
  color: #fff; */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.constructor {
  background-color: #d1d1d1;
  width: 600px;
  height: 400px;
  margin: auto 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  margin: auto;
  background-color: #1F2229;
}

.header__link {
  text-decoration: none;
  color: #8f9399;
  font-size: 16px;
  line-height: 22px;
}

.header__link:hover {
  opacity: 80%;
  cursor: pointer;
}

.header__links {
  width: 60%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__stuff {
  display: flex;
  align-items: center;
}

.header__stuff-container {
  display: flex;
  justify-content: center;
}

.header__stuff-link {
  color: #8f9399;
  font-size: 13px;
  line-height: 14px;
  text-decoration: none;
  width: 65px;
  word-break: break-word;
  display: block;
}

.header__stuff-link:hover {
  opacity: 80%;
  cursor: pointer;
}

.header__stuff-logo {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.main {
  position: relative;
  overflow: hidden;
}

.main__box {
  width: 80%;
  margin: 60px auto 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* .column__one {} */

.main__tariff {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0px;
  padding: 0 50px;
}

.main__title {
  font-family: "Tele2 DisplaySerif";
  text-transform: uppercase;
  font-size: 38px;
  line-height: 52px;
  margin: 0 0 20px;
  font-style: normal;
  font-weight: normal;
}

.bot-link {
  color: #8F9399;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin: 0 0 20px;
}

.bot-link:visited {
  color: #8F9399;
  text-decoration: none;
}

.bot-link__arrow {
  margin-right: 10px;
}

.main__subtitle {
  font-family: "Tele2 DisplaySerif";
  text-transform: uppercase;
  font-size: 28px;
  line-height: 38px;
  margin: 0 0 30px;
  font-style: normal;
  font-weight: normal;
}

.popup__metric {
  display: flex;
  margin-bottom: 60px;
}

.popup__metric-column {
  display: flex;
  flex-direction: column;
  margin-right: 60px;
}

.popup__metric-column:last-of-type {
  margin-right: 0;
}

.popup__metric-container_main {
  margin: 0
}


/*БЛОК безлимит*/
.unlimited__title {
  padding: 0;
  margin: 0 0 15px 0;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 22px;
}

.unlimited__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  width: 400px;
  height: 32px;
  justify-content: space-around;
  border-bottom: 1px solid #1f222966;
  color: #1f222966;
}


.unlimited__item {
  text-align: center;
  cursor: pointer;
  padding: 0 8px;
}

.unlimited__item_active {
  color: #FF59A3;
  border-bottom: 1px solid #FF59A3;

}

.unlimited__buttons {
  max-width: 400px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 32px);
  grid-gap: 10px;
  margin: 20px 0 32px;
  /* filter: grayscale(100%);
  opacity: 0.5; */
}

.unlimited__button {
  filter: grayscale(100%);
  opacity: 0.5;
  cursor: pointer;
}

.unlimited__button_active {
  filter: grayscale(0%);
  opacity: 1;
}

.unlimited__button_hidden {
  visibility: hidden;
  opacity: 0;
}


/**/


/* НАЧАЛО ЧЕКБОКСЫ*/
.unlimited__switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 30px;
}

.unlimited__switch input {
  display: none;
}

.unlimited__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.unlimited__slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked+.unlimited__slider {
  background-color: #FF59A3;
}

input:focus+.unlimited__slider {
  box-shadow: 0 0 1px #FF59A3;
}

input:checked+.unlimited__slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

.unlimited__switch-block {
  display: flex;
  align-items: center;
  margin: 0 0 20px;
}


.unlimited__switch-title {
  max-width: 200px;
  margin: 0 0 0 12px;
  font-size: 16px;
  line-height: 22px;
}

/*КОНЕЦ ЧЕКБОКСЫ*/
/*Конец блок безлимит*/

/**/
.popup__price {

  width: 226px;
  height: 226px;
}

/**/

/* НАЧАЛО БЛОК plan-info*/
.plan-info__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.plan-info__icon {
  width: 28px;
  height: 28px;
  margin-right: 12px;
}

.plan-info__text {
  padding: 0;
  margin: 0 0 20px 0;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 22px;
}

.plan-info__link {
  color: #8F9399;
  line-height: 0.85;
  text-decoration: none;
  border-bottom: 1px solid #8F9399;
  display: inline-block;
  line-height: 0.85;
  margin-top: 15px;
}

/* КОНЕЦ БЛОК plan-info*/

.triangle {
  background-image: url(./images/triangle.svg);
  background-repeat: no-repeat;
  min-width: 100%;
  padding-bottom: 16.9%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-size: cover;
  z-index: -1;
}

.footer {
  min-height: 350px;
  background-color: #1F2229;
  padding-top: 50px;
  padding-bottom: 104px;
  box-sizing: border-box;
}

.footer__columns {
  display: flex;
  position: relative;
  justify-content: space-between;
  color: white;
  align-items: flex-end;
}

.footer__column_content_about {
  width: 360px;
  height: 120px;
}

.footer__column_content_telephone {
  width: 260px;
}

.footer__column_content_social {
  width: 260px;
}

.footer__tele2 {
  color: white;
}

.main {
  padding-bottom: 50px;
}

.footer__column {
  font-size: 16px;
}

.footer_wrap1 {
  width: 90%;
  margin: 0 auto;
}

.footer__column-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__list-item {
  display: inline;
  margin-right: 10px;
}

.footer__column_social {
  text-decoration: underline;
  margin-bottom: 0px 0px 10px 0px;
}

.footer__column_social:last-of-type {
  margin-bottom: 37px;
}

.footer__text {
  margin: 0;
}

.footer__column-phone {
  margin: 0px 0px 5px 0px;
}

.footer__column_city_phone {
  margin-bottom: 20px;
}


@media screen and (max-width:1280px) {
  .main__box {
    width: 95%;
  }

  .popup__price {
    width: 200px;
    height: 200px;
  }

  .popup__buy-button {
    width: 190px;
  }
}

@media screen and (max-width:1023px) {
  .main__box {
    width: 80%;
  }

  .unlimited {
    margin-top: 48px;
  }
}

.footer_wrap2 {
  width: 90%;
  margin: 0 auto;
  display: flex;
  position: relative;
  justify-content: space-between;
  color: white;
  align-items: center;
  display:none;
}

.footer__price {
  margin: 8px 0 7px 0;
  border: 4px solid #FF59A3;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.footer__price-wrap {
  position: relative;
  display: inline-block;
}

.footer__price-value {
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  margin: 0;
}

.footer__currency {
  width: 8px;
  height: 20px;
  position: absolute;
  top: -7px;
  right: -10px;
}

.footer__button {

  background-color: #fff;
  background-repeat: no-repeat;
  padding: 0;
  border: none;
  border-radius: 40px;
  width: 220px;
  height: 50px;
  cursor: pointer;
  transition: background-color opacity 0.2s linear;
  color: #000;
  font-size: 18px;
  line-height: 16px;
  text-align: center;
  /* margin-top: 0px; */
}

.footer__text2 {
  font-size: 20px;
}

.footer__span {
  font-size: 16px;
  line-height: 22px;
  color: #8F9399;
  margin-left: 5px;
}

@media screen and (max-width: 984px) {
  .header__links {
    display: none;
  }
  .burger-menu {
    display: flex;
  }
  .popup__your-plan {
    margin-left: 50px;
    flex-direction: column;
    align-items: center;
  }
  .popup__buy-button {
    width: 200px;
    height: 50px;
    margin-bottom: 15px;
  }
  .popup__price {
    margin: 0 0 15px 0;
    width: 200px;
    height: 200px;
  }
  .footer {
    min-height: 100px;
    padding: 0;
  }

  .footer_wrap1 {
    display: none;
  }

  .footer_wrap2 {
    display: flex;
  }
}

@media screen and (max-width: 640px) {
  .popup__container {
    flex-direction: column;
    margin: 20px auto 51px;
  }

  .popup__price {
    display: none;
  }

  .popup__buy-button {
    display: none;
  }

  .popup__your-plan {
    align-items: initial;
    min-width: 300px;
  }

  .popup__main-info {
    align-items: initial;
  }

  .popup__your-plan-title {
    margin: 50px 0px 0px 0px;
  }

  .popup__your-plan-title-container {
    align-items: initial;
  }

  .popup__container {
    width: 90%;
  }

  .popup__additional_wrap {
    flex-direction: row;
    display: flex;
  }

  .popup__additional-info {
    margin: 0;
  }

  .footer__text2 {
    display: none;
  }
}
